<div class="button-container">
  <div class="column">
    <mat-button-toggle-group class="mat-button-toggle-vertical">
      <mat-button-toggle *ngFor="let option of options.slice(0, 7)"
                         [checked]="option === selectedOption"
                         (click)="selectOption(option)">
        {{ option }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div class="column">
    <mat-button-toggle-group class="mat-button-toggle-vertical">
      <mat-button-toggle *ngFor="let option of options.slice(7)"
                         [checked]="option === selectedOption"
                         (click)="selectOption(option)">
        {{ option }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>


<!--<mat-accordion class="example-headers-align" multi>-->
<!--  <mat-expansion-panel>-->
<!--    <mat-expansion-panel-header>-->
<!--      <mat-panel-title>Степенное преобразование</mat-panel-title>-->
<!--    </mat-expansion-panel-header>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Коэффициент</mat-label>-->
<!--      <input matInput type="number"/>-->
<!--    </mat-form-field>-->

<!--    <mat-form-field>-->
<!--      <mat-label>Гамма</mat-label>-->
<!--      <input matInput type="number" />-->
<!--    </mat-form-field>-->
<!--  </mat-expansion-panel>-->
<!--</mat-accordion>-->
