<div class="wrapper">
  <div>
    <span class="wrapper-title">
      <h1 class="title">{{ method }}</h1>
      <mat-dialog-actions>
        <button mat-mini-fab mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </mat-dialog-actions>
    </span>

    <mat-dialog-content>
      <div *ngIf="method === 'Степенное преобразование'">
        <span> <span class="key-word">Коэффициент</span> управляет общим уровнем яркости изображения.</span>
        <ul class="list">
          <li>c > 1 увеличивает яркость, делая изображение светлее.</li>
          <li>c < 1 уменьшает яркость, делая изображение темнее.</li>
          <li>c = 1 не меняет яркость изображения.</li>
        </ul>
        <h3 class="title-sub">Влияние гаммы</h3>
        <span> <span class="key-word">Гамма-коррекция</span> влияет на контрастность изображения.</span>
        <ul class="list">
          <li>γ > 1 увеличивает контрастность, делая светлые области светлее, а темные - темнее.</li>
          <li>γ < 1 уменьшает контрастность, делая изображение более плоским.</li>
          <li>γ = 1 не меняет контрастность изображения.</li>
        </ul>
      </div>

      <div *ngIf="method === 'Вырезание диапазона яркостей'">
        <span
          >Данный метод позволяет <span class="key-word">удалить</span> из изображения пиксели, яркость которых выходит
          за заданный диапазон.</span
        >
        <ul class="list">
          <li>
            <span class="key-word">Мин. яркость</span> - минимальное значение яркости пикселя, которое должно быть
            сохранено.
          </li>
          <li>
            <span class="key-word">Макс. яркость</span> - максимальное значение яркости пикселя, которое должно быть
            сохранено.
          </li>
          <li>Все пиксели, яркость которых меньше минимального значения, заменяются на минимальную яркость.</li>
          <li>Все пиксели, яркость которых больше максимального значения, заменяются на максимальную яркость.</li>
        </ul>
      </div>

      <div *ngIf="method === 'Пороговый фильтр'">
        <span
          >Данный метод преобразует изображение, делая его <span class="key-word">черно-белым</span>. Он задает
          пороговое значение яркости, и пиксели, яркость которых выше порога, становятся белыми, а пиксели, яркость
          которых ниже порога, становятся черными.</span
        >
        <ul class="list">
          <li>
            <span class="key-word">Порог</span> - значение яркости, которое определяет границу между черным и белым
            цветом.
          </li>
          <li>Если яркость пикселя выше порога, пиксель становится белым.</li>
          <li>Если яркость пикселя ниже порога, пиксель становится черным.</li>
        </ul>
      </div>

      <div *ngIf="method === 'Линейный фильтр'">
        <h3 class="title-sub">Влияние контраста</h3>
        <span>
          <span class="key-word">Усиление контраста</span> управляет общим уровнем контрастности изображения.</span
        >
        <ul class="list">
          <li>Значения < 1 уменьшают контраст, делая пиксели ближе к средним оттенкам серого.</li>
          <li>Значения > 1 увеличивают контраст, делая темные области темнее, а светлые — светлее.</li>
          <li>При значении = 1 изображение остается неизменным.</li>
        </ul>
        <h3 class="title-sub">Влияние смещения яркости</h3>
        <span> <span class="key-word">Смещение яркости</span> регулирует общую яркость изображения.</span>
        <ul class="list">
          <li>Положительные значения делают изображение ярче.</li>
          <li>Отрицательные значения делают изображение темнее.</li>
          <li>При значении = 0 яркость изображения остается неизменной.</li>
        </ul>
      </div>
    </mat-dialog-content>
  </div>
</div>
