<div class="wrapper">
  <div>
    <span class="wrapper-title">
      <h1 class="title">Степенное преобразование</h1>
      <mat-dialog-actions>
        <button mat-mini-fab mat-dialog-close>
          <mat-icon>close</mat-icon>
        </button>
      </mat-dialog-actions>
    </span>
    <mat-dialog-content>
      <h3 class="title-sub">Влияние коэффициента</h3>
      <span> <span class="key-word">Коэффициент</span> управляет общим уровнем яркости изображения.</span>
      <ul class="list">
        <li>c > 1 увеличивает яркость, делая изображение светлее.</li>
        <li>c < 1 уменьшает яркость, делая изображение темнее.</li>
        <li>c = 1 не меняет яркость изображения.</li>
      </ul>
      <h3 class="title-sub">Влияние гаммы</h3>
      <span> <span class="key-word">Гамма-коррекция</span> влияет на контрастность изображения.</span>
      <ul class="list">
        <li>γ > 1 увеличивает контрастность, делая светлые области светлее, а темные - темнее.</li>
        <li>γ < 1 уменьшает контрастность, делая изображение более плоским.</li>
        <li>γ = 1 не меняет контрастность изображения.</li>
      </ul>
    </mat-dialog-content>
  </div>
</div>
